.page-footer {
    padding-top: 0 !important;
}

.box-padding {
    margin: 0 5px;
}

.box-border {
    border-style: solid;
}

.box {
    margin: 0 5px 0 0;
    height: 220px;
    width: 475px !important;
}

.box2 {
    margin: 0 5px 0 0;
}

.box:hover {
    opacity: 0.50;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

body {
    background-color: #f5f5f5;
}

.heading {
    margin: 0 0 5px 0;
}

.time{
    margin: 0 5px 0 0;
    float: right;
    font-size: 1.7rem;
}

.welcome span {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px) rotate(90deg);
    transform-origin: left;
    animation: in 0.5s forwards;
  }
  .welcome span:nth-child(1) {
    animation-delay: 0.1s;
  }
  .welcome span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .welcome span:nth-child(3) {
    animation-delay: 0.3s;
  }
  .welcome span:nth-child(4) {
    animation-delay: 0.4s;
  }
  .welcome span:nth-child(5) {
    animation-delay: 0.5s;
  }
  .welcome span:nth-child(6) {
    animation-delay: 0.6s;
  }
  .welcome span:nth-child(7) {
    animation-delay: 0.7s;
  }
  
  @keyframes in {
    0% {
      opacity: 0;
      transform: translateY(50px) rotate(90deg);
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotate(0);
    }
  }

  #exercisename {
    font-size: 50px;
    text-transform: uppercase;
  }